body{

background-color:#fff3e0;
text-align:center;
font-family:Arial;

}

h1{

color:#6d4c41;

}

#info{

font-size:24px;
margin:20px;

}

#gameArea{

width:500px;
height:400px;

margin:auto;

background-color:#ffe0b2;

border-radius:20px;

position:relative;

border:5px solid #8d6e63;

}

#target{

font-size:60px;

position:absolute;

cursor:pointer;

transition:0.1s;

}

button{

margin-top:20px;

padding:10px 30px;

font-size:20px;

background-color:#ffb74d;

border:none;

border-radius:10px;

cursor:pointer;

}

button:hover{

background-color:#ffa726;

}